.header {
  padding: 24px 0;
  border-bottom: 1px solid #ddd;
}

.menu {
  padding: 16px;
  text-align: center;
}

.menuGrid {
  padding: 0;
}

.link {
  width: 100px;
  margin-left: 16px;
  border-radius: 4px;
  color: black;
  transition: background-color 300ms linear;
}

.link1 {
  background-color: #F8BBD0;
}

.link1:hover {
  background-color: #E91E63;
}

.link2 {
  background-color: #A7FFEB;
}

.link2:hover {
  background-color: #00BCD4;
}

.link3 {
  background-color: #FFFF8D;
}

.link3:hover {
  background-color: #FFEB3B;
}

.link4 {
  background-color: #FF9E80;
}

.link4:hover {
  background-color: #FF5722;
}

.logo {
  height: 72px;
}

.menuCol {
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
