@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif !important;
}

div, span, p {
  font-family: 'Rubik', sans-serif !important;
}

* {
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

a {
  text-decoration:none;
}

.container {
  max-width: 1024px;
	padding: 0 12px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.content {
	padding: 32px 0;
}
